.banner__about {
    background-image: url('../assets/BannerAbout.png');
    margin-bottom: 32px;
    height:223px;
}

@media screen and (max-width: 880px) {

    .banner__about {
        margin-bottom: 10px;
    }
}