.banner {
   height: 223px;
   line-height: 223px;
   width: 85%;
   border-radius: 20px;
   background-color: #000000;
   background-image: url('../assets/Banner.png');
   background-position: center;
   background-size: cover;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 45px;
   text-align: center;
   margin-top: 32px;
}

.banner>h1 {
   color: white;
   font-weight: 500;
   width: 100%;
   font-size: 48px;
}

@media screen and (max-width: 880px) {

   .banner {
      height: 151px;
      vertical-align: middle;
      text-align: left;
      border-radius: 10px;
      background-size: cover;
      width: 91.5vw;
      margin-top: 0px;
      margin-bottom: 22px;
   }

   .bannerAbout {
      height: 223px;
      line-height: 223px;
      border-radius: 10px;
      width: 100vw;
   }

   .banner>h1 {
      padding-top:50px;
      padding-left: 10px;
      font-size: 24px;
      line-height: 30px;
   }
}