.header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 5.6%;
    align-items: center;
    height: 68px;
    width: 95%;
}

.header nav {
    color: #ff6060;
    font-size: 24px;
    margin-left: 20px;
    padding-top: 25px;
}

.header__link-home {
    width: 150px;
    margin-right: 20px;
}

.header__link-about {
    width: 355px;
    white-space: nowrap;
}

.header__link-home:hover,
.header__link-about:hover {
    text-decoration: underline #ff6060;
}

.header__link-home:active,
.header__link-about:active {
    text-decoration: underline #ff6060;
}

a {
    text-decoration: none;
}

.header__logo {
    flex-grow: 2;
    margin-bottom: 0px;
    padding-left: 2%;
    width: 100%;
}

.header__logo>img {
    width: 210px;
    height: 68px;
}

@media screen and (max-width: 880px) {
    .header {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 40px;
        width: 90px;
    }

    .header__logo {
        padding-right: 0px;
        width: 100%;
        padding-right: 55px;
    }

    .header__link-home {
        width: 50px;
    }

    .header__link-about {
        width: 300px;
        white-space: nowrap;
    }

    .header h6 {
        font-size: 12px;
        text-transform: uppercase;
        padding-top: 0;
        margin: 0;
        padding-left: 65px;
    }

    .header__logo>img {
        width: 145px;
        height: 47px;
    }
}